.home-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.close-button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: transparent;
    color: #ffff;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid red;
    width: 100px;
}

.convert-button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: transparent;
    color: #ffff;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid orange;
    width: 100px;
}

.button-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}