.nft-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.upload-to-ipfs-button {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: rgb(230, 174, 54);
  color: #ffff;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid orange;
  width: 150px;
}

.generate-nft-button {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: rgb(41, 104, 22);
  color: #ffff;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid green;
  width: 150px;
  margin-bottom: 10px;
}

.generate-nft-button:disabled {
  background-color: #a9a9a9;
  border-color: #808080;
  color: #d3d3d3;
  cursor: not-allowed;
}

.inputField {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.inputField:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.inputField:disabled {
  opacity: 0.5;
}

.cancel-button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: rgb(199, 35, 35);
    color: #ffff;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid rgb(128, 0, 0);
    width: 150px;
    margin-bottom: 10px;
}

.button-section{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 20px;
}

.upload-image-text{
    padding: 0;
    margin: 0;
}